!!!
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="keywords", content="captcha, recaptcha, ocr, optical character recognition, ocular character recognition")
        meta(name="description", content="Webpages for Humans: surf the human web")
        meta(name="author", content="Jesse Fulton")
        title Web Biennial 2012 - Jesse Fulton - Webpages for Humans
        style(type="text/css")
            html, body { background-color: black; }
            body, #console-wrapper {
                background:#000000;
                color:#00FF00;
                font-family:monospace;
            }
            
            #console { margin: 0 auto; width: 500px; }
            
            #desktop, #browser { display:none; }
            
            #content { position: relative; }
            
            #overlay { display: none; }
            .loading #overlay { 
                display: block;
                width: 100%;
                height: 100%;
                z-index: 100;
                position: absolute;
                background-color: #000;
                opacity: 0.2;
                -webkit-opacity: 0.2;
                -moz-opacity: 0.2;
            }

            #browser-icon { /* static bg */ }
            .loading #browser-icon { /* animated bg */ }


        script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
        script(type="text/javascript", src="/vendor/typer/typer.js")
        script(type="text/javascript")
            Typer.speed=3;
            Typer.file='/vendor/typer/kernel.txt';
            Typer.init();

        link(rel='stylesheet', href='/vendor/bootstrap-ui/css/bootstrap.css')
        //script(type="text/javascript", src="/vendor/bootstrap-ui/js/jquery.js")

        link(rel='stylesheet', href='/stylesheets/main.css')            
        script(type="text/javascript", src="/vendor/js-hash/Hash.js")
        script(type="text/javascript", src="/vendor/js-hash/jquery.hash.js")
        script(type="text/javascript")

            var goingTo = "";

            var onIFrameChange = function(where) {
                //console.log("onIFrameChange: " + where.href);
                $(document.body).removeClass("loading");
                goingTo = where.href;
                onHashChange(null, where.href, true);
            }
            
            var loadBrowserURL = function() {
                //console.log("loadBrowserURL: " + $("#browserUrl").val());
                var url = $("#browserUrl").val();
                $.hash.go("/view/" + url);
                return false;
            }
            
            
            var goToURL = function(url) {
                //console.log("goToURL: " + url);
                if (url) {
                    var iDoc = document.getElementById("viewport").contentWindow || document.getElementById("viewport").contentDocument;
                    iDoc.location.replace(url);
                }
                return false;
            }
            
            var onHashChange = function(event, newHash, bypass) {
                if (goingTo && newHash == goingTo) {
                    $(document.body).removeClass("loading");
                    goingTo = "";
                }
                else {
                    $(document.body).addClass("loading");
                }
            
                //console.log("Hash Change: " + newHash);
                document.getElementById("browserUrl").value = decodeURIComponent(newHash.replace(window.location.origin, "").replace(/^\/view\//g, "").replace(/^\/form\//g, ""));
                if (!bypass) goToURL(newHash);
                else {
                    if (newHash == "about:project") {
                        goToURL(window.location.origin + "/about");
                    }
                }
            };
            
    body
        // system console
        #console-wrapper
            #console
        
        
        // old school browser yo
        #desktop
            //-
                #frame-buster-error
                    p Sorry, but this site is incomaptible with Webpages for Humans.
            #browser
                #title-bar: span Webpages For Humans
                #toolbar
                    #nav
                        #nav-back.btn Back
                        #nav-forward.btn Forward
                        #nav-home.btn: a(href="/about", id="aboutButton") Home
                        #nav-stop.btn Stop
                    #location
                        input(type="text", name="browserUrl", id="browserUrl")
        
                #content.container
                    #overlay
                    //iframe(id="viewport", src="about:blank", style="width:960px;height:479px", frameBorder="0", onLoad="onIFrameChange(this.contentWindow.location);")
                    iframe(id="viewport", src="about:blank", sandbox="allow-forms allow-scripts allow-same-origin", style="width:960px;height:479px", frameBorder="0", onLoad="onIFrameChange(this.contentWindow.location);")
        
        script(type="text/javascript")
            $(function() {
                $("body").hashchange(onHashChange);
                $.hash.init();
                
                $("#loadBrowserURL").on('click', loadBrowserURL);
                $("#aboutButton").on('click', function(){ $.hash.go("about:project"); return false; });
                
                $("#browserUrl").on('keypress', function(event) {
                    if (event.which == 13) {
                        loadBrowserURL();
                    }
                });
                
                if (!window.location.hash) {
                    $.hash.go("about:project");
                }
            });
    
        script(type="text/javascript")
            $(function(){
                /*
                window.onbeforeunload = function(e) {
                    //console.log(e.currentTarget.location.toString());
                    //console.log(window.location.toString());
                    return "The page you are visiting is trying to break out of Webpages for Humans. Please click \"Stay on this Page\" below.";
                };
                */

                /*                
                var showFrameBusterError = function() {
                    $("#frame-buster-error").fadeIn(2000, function() {
                        $("#frame-buster-error").fadeOut();
                    });
                };
                
                $("#frame-buster-error").fadeOut();
                
                // frame buster buster
                var prevent_bust = 0  
                window.onbeforeunload = function() { prevent_bust++ }  
                setInterval(function() {  
                    if (prevent_bust > 0) {  
                        prevent_bust -= 2;
                        window.top.location = '/204';
                        window.history.go(-2);
                        showFrameBusterError();
                    }
                }, 1);
                */
                
                var iDoc = document.getElementById("viewport").contentWindow || document.getElementById("viewport").contentDocument;
                $("#nav-forward").click(function() {
                    try {
                        iDoc.history.forward();
                    }
                    catch(e) {
                        //window.history.forward();
                    }
                });

                $("#nav-back").click(function() {
                    try {
                        iDoc.history.back();
                    }
                    catch(e) {
                        //window.history.back();
                    }
                });
                
                $("#nav-stop").click(function() {
                    if ($(document.body).hasClass("loading")) {
                        $(document.body).removeClass("loading");
                        
                        if (typeof (window.frames[0].stop) === 'undefined') {
                            //Internet Explorer code
                            setTimeout(function() {window.frames[0].document.execCommand('Stop');},10);
                        }
                        else {
                            //Other browsers
                            setTimeout(function() {window.frames[0].stop();},10);
                        }
                        
                        //window.history.back();
                    }
                });
                
            });


            $(function(){
                var typingInterval;
                
                var showBrowser = function() {
                    $("#console-wrapper").hide();
                    $("#desktop").show();
                    window.setTimeout(function() {
                        $("#browser").show();
                    }, 3000);

                };

                typingInterval = window.setInterval(function() {
                    if (!Typer.addText()) {
                        window.clearInterval(typingInterval);
                        window.setTimeout(showBrowser, 3000);
                    }
                }, 20);
            });