!!!
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="keywords", content="captcha, recaptcha, ocr, optical character recognition, ocular character recognition")
        meta(name="description", content="Webpages for Humans: surf the human web")
        meta(name="author", content="Jesse Fulton")
        title Web Biennial 2012 - Jesse Fulton - Webpages for Humans
        link(rel='stylesheet', href='/bootstrap-ui/css/bootstrap.css')
        style(type="text/css")
            .thumbnails .meta { text-align: center; }
            .thumbnails .icon { padding-right: 4px; }
            .thumbnail-nav { display:inline-block; width: 80px; }
            .thumbnail-nav { display:inline-block; width: 80px; }
            .row { margin-top: 5px; margin-bottom: 15px; }
            .hero-unit h1
            , .hero-unit .form-inline
            , .hero-unit #bookmarklet { text-align: right; padding-right: 80px; }
            .hero-unit .form-inline { margin-top: 20px; }
            #bookmarklet { font-style: italic; text-align: right; margin-top: 20px; }
            .hero-unit { padding-bottom: 20px; }
            #bookmarklet a { font-style: normal; }
            #header { height:10%; width: 100%; margin:0; padding: 0; overflow:hidden; }
            #content { width: 100%; height:90%; margin:0; padding:0; }
    body
        #header.container
            p.form-inline Surf the human web. Enter a URL to begin: 
                input(type="text", name="generateUrl", id="generateUrl")
                button.btn.btn-primary.btn-large(id="doGenerate", href="#") Go!
                a(href="/about", id="aboutButton") About?

        #content.container
            iframe(id="viewport", src="/about", style="width:100%;height:90%", frameBorder="0")


        script(type="text/javascript", src="/bootstrap-ui/js/jquery.js")
        script(type="text/javascript", src="https://raw.github.com/blixt/js-hash/master/Hash.js")
        script(type="text/javascript", src="https://raw.github.com/blixt/js-hash/master/jquery/jquery.hash.js")
        script(type="text/javascript")
          //$('#bookmarklet a').tooltip({})
          //$('#captcha-image').modal({"show":false})
          var doGenerate = function() {
              var url = document.getElementById("generateUrl").value;
              //window.location = "/view/" + url;
              $.hash.go("/view/" + url);
              return false;
              //return goTo("/view/" + url);
          }
          var goTo = function(url) {
            if (url) {
              
              var iDoc = document.getElementById("viewport").contentWindow || document.getElementById("viewport").contentDocument;
              iDoc.location.replace(url);
            }
              //.attr("src", url);
              //$.hash.go(url);
              return false;
          }


          $("body").hashchange(function(e, newHash) {
            console.log(arguments);
            goTo(newHash);
          })
          $.hash.init();

          $("#doGenerate").on('click', doGenerate);
          $("#aboutButton").on('click', function(){ $.hash.go("/about"); return false; });

          $("#generateUrl").on('keypress', function(event) {
              if (event.which == 13) {
                  $("#doGenerate").click();
                  //doGenerate();
              }
          });
