!!!
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="description", content="")
		meta(name="author", content="")
		title Webpages for Humans
		link(rel='stylesheet', href='/bootstrap-ui/css/bootstrap.css')
		link(rel='stylesheet', href='/bootstrap-ui/css/bootstrap-responsive.css')
		style(type="text/css")
			.meta {
				background-color: #ffd;
				border: 4px solid #dda;
				padding: 8px;
			}
			.meta h2 {
				color: #000;
				font-style: italic;
			}
			.result {
				width: 49%;
				float: left;
			}
			.row { margin-top: 5px; margin-bottom: 15px; }
			#footer { border-top: 1px solid #EEE; padding-top: 10px; margin-top: 10px; }
			#footer * { font-size: 11px; }
			
			/*
			* Color palette modified from tinuviel
			* http://www.colourlovers.com/palette/1166568/tdott_beauty
			*/
				body, html {
					background-color:#222; 
					color: #FFFFFF;
					font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
					font-size: 16px;
					line-height: 24px;
					margin: 0px;
					}
				body {
					border: 2px solid white;
					background-color: #d7d7d7;
					outline: 2px solid black;
					padding: 8px;
				}
				h1, h2, h3, h4, h5, h6 { color: #FF0078; }
				.meta { color: #0590A9; }
				a:link { text-decoration:none; color: #FF0078; font-weight: bold; }
				a:visited { text-decoration:none; color: #FF0078; font-weight: bold; }
				a:hover { text-decoration:none; color: #C0C0C0; font-weight: bold; }
				a:active {}

				.hero-unit { background-color: #090909; }
				
				.queue ul, .queue li { list-style-type: none; margin:0; padding: 0; color: #FF0078; }
				.queue .error { text-decoration: line-through; }
				.queue .error span { color: #c0c0c0; }
				.queue .searching span { color: #c0c0c0; }

		script(type='text/javascript', src='/bootstrap-ui/js/bootstrap-tab.js')

	body
		.container
			ul.nav.nav-tabs
				li.active: a(href="#about") About
				li: a(href="#create") Create
				li: a(href="#list") List
		#content.container!= body
